@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$primaryColor: #f09d51;
$mainWhite: #fff;
$mainBlack: #222;
$mainGrey: #ececec;
$mainSpacing: 0.1rem;
$mainTransition: all 0.3s linear;
$mainCartBcg: rgba(240, 157, 81, 0.5);
